*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --dark0: #1b1b1b;
  --dark1: #2b2b2b;
  --dark2: #4b4b4b;
  --light0: #dadada;
  --light4: #b5b5b5;
  --accent: #644e64;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark0);
  color: var(--light0);
  display: flex;
}

#app-container {
  flex: 1;
  display: flex;
}

#components {
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.component-preview {
  aspect-ratio: 1;
}

#editor-container {
  flex: 1;
  display: flex;
}

#control-pane {
  padding: 0.5rem;
}

/* PARAM PANE */

#params {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.param {
  display: flex;
  justify-content: space-between;
}

.param-name {
  text-align: end;
}

/* CONTROLS */

#controls {
  border-bottom: 1px solid var(--light4);
}

/* TOOL SELECT BUTTONS */

.tool-buttons {
  display: flex;
  gap: 0.3rem;
}

.tool-select {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
}

.tool-select.selected {
  background-color: var(--accent);
  box-shadow: 0 0 6px black;
}

.tool-select:not(.selected):hover {
  background-color: var(--dark2);
  box-shadow: 0 0 6px black;
}

.tool-select i {
  margin: auto;
}

/* VIEW PANE */

#view-pane {
  flex: 1;
  flex-basis: 75%;
  background-color: var(--dark1);
}
